@import "single-box-page-common";

.box-container {
  width: 19rem;

  form {
    width: unset;
  }
  
  .sent-mail {
    text-align: left;

    h2 {
      margin-top: 0;
    }
    
    p {
      margin-bottom: $spacing-xl;
    }
  }
  button {
    width: 100%;
  }

  re-captcha {
    margin-bottom: $spacing-sm;
  }
}
