<div class="box-container">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" novalidate *ngIf="!isDone">
    <h5>Recuperar senha</h5>
    <label for="email">E-mail de cadastro</label>
    <input type="email" autofocus id="email" name="email" formControlName="email" placeholder="" required [class.is-warning]="f.email.dirty && f.email.invalid || formSubmitted && f.email.invalid">
    <p class="is-help is-warning" *ngIf="f.email.dirty && f.email.errors?.required || formSubmitted && f.email.errors?.required">Insira seu endereço de e-mail.</p>
    <p class="is-help is-warning" *ngIf="f.email.dirty && f.email.errors?.email || formSubmitted && f.email.errors?.email">Insira um endereço de e-mail válido.</p>
    <p class="is-help is-warning" *ngIf="formSubmitted && f.email.errors?.invalid">Uma solicitação de redefinição da senha de sua conta ocorreu nas últimas 6 horas. Verifique seu e-mail e utilize o link enviado. O link é válido por seis horas.</p>
    <label for="captcha">Verificação</label>
    <re-captcha id="captcha" (resolved)="resolveCaptcha($event)"></re-captcha>
    <p class="is-help is-warning" *ngIf="formSubmitted && !captchaResolved">Marque a caixa de seleção.</p>
    <button type="submit" class="is-info is-md" [class.is-loading]="isLoading">
      <span>Continuar</span>
      <span class="is-loading-text">Enviando...</span>
    </button>
  </form>
  <span class="sent-mail" *ngIf="isDone">
    <h2>Tudo pronto!</h2>
    <p>Se o e-mail fornecido pertencer a uma conta existente, enviaremos uma mensagem com um link para redefinir sua senha. Caso não consiga encontrar o e-mail em sua caixa de entrada, verifique em outros lugares como a pasta de lixo eletrônico ou spam.</p>
    <button class="is-info is-md" routerLink="/">Retornar para o início</button>
  </span>
</div>