@import '_variables';

:host {
  &.curr:hover:not(.bin) *, &.add-new:hover *, &.back:hover * {
    cursor: pointer;
  }
}

.node-card {
  width: 100%;
  height: 128px;
  background: $color-white;
  border: 1px solid $color-gray-medium;
  border-radius: $border-radius-default;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  transition: all $animation-normal-speed;
  position: relative;
  user-select: none;
  padding: $spacing-md;
  box-sizing: border-box;
  
  &:hover {
    border-color: $color-primary;
    color: $color-primary;

    .hover-contents {
      opacity: 1;
    }
  }

  &.add-new {
    border-style: dashed;
  }

  &.bin > .hover-contents {
    right: 40px;
  }

  .hover-contents {
    position: absolute;
    top: $spacing-md;
    right: $spacing-sm;
    opacity: 0;
    
    i {
      padding: $spacing-xs;
      border-radius: 50%;
      background-color: $color-white;
      transition: all $animation-normal-speed;
      color: $color-primary;
    }

    .delete:hover {
      background-color: $color-red;
      color: $color-white;
    }

    .edit:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  .add-new, .curr, .back {
    display: inherit;
    justify-content: inherit;
    align-content: inherit;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .add-new, .back {
    i {
      display: block;
      font-size: $icon-font-default-size;
      margin-top: 2.2rem;
      margin-bottom: $spacing-xs;
    }
  
    p {
      text-transform: uppercase;
    }
  }
}

.children-count {
  font-size: $placeholder-font-size;
  padding-bottom: $spacing-xs;
}

.back:hover {
  color: $color-white;
  background: $color-primary;
}

.node-card.bin {
  border-radius: 50%;
  width: 134px;
  margin-left: 14px;
}