@font-face {
  font-family: "Work Sans Extra Light";
  src: url("assets/fonts/WorkSans1.6/woff2/WorkSans-ExtraLight.woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Work Sans Light";
  src: url("assets/fonts/WorkSans1.6/woff2/WorkSans-Light.woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/WorkSans1.6/woff2/WorkSans-Thin.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/WorkSans1.6/woff2/WorkSans-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/WorkSans1.6/woff2/WorkSans-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/WorkSans1.6/woff2/WorkSans-SemiBold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/WorkSans1.6/woff2/WorkSans-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/WorkSans1.6/woff2/WorkSans-ExtraBold.woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/WorkSans1.6/woff2/WorkSans-Black.woff2");
  font-weight: 900;
}