@import "_variables";

p.is-help {
  margin: -$spacing-xm 0 $spacing-sm;
  font-size: 12px;
  align-self: baseline;
  text-align: left;
}

input.is-warning {
  border-color: $color-red !important;
}

.is-warning:not(input) {
  color: $color-red !important;
}