// colors
$color-primary: #2044db;
$color-primary-lighter: #4868EF;
$color-primary-darker: #0020A8;
$color-red: #FE2424;
$color-orange: #fca813;
$color-green: #20db75;
$color-white: #ffffff;
$color-gray-lighter:#f9f9f9;
$color-gray-medium: #e0e0e0;
$color-gray-darker: #3c3c3c;
$color-black: #1e1e1e;

//scales
$spacing-xm: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 0.75rem;
$spacing-lg: 1rem;
$spacing-xl: 1.25rem;

$icon-font-default-size: 1.4rem;
$border-radius-default: 0.25rem;
$placeholder-font-size: 0.75rem;
$text-default-font-size: 1rem;
$btn-sm-font-size: 0.9rem;
$btn-md-font-size: 1rem;
$btn-lg-font-size: 1.15rem;
$top-menu-height: 3rem;
$sidebar-width: 10.5rem;
$single-box-content-width: 16rem;

$animation-normal-speed: 150ms;
$animation-fast-speed: 50ms;