@import "_variables";

:host {
  position: relative;
  top: 0;
  left: 0;
}

aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 186.66px;
  background-color: $color-white;
  border-left: 1px solid $color-gray-medium;
  border-right: 1px solid $color-gray-medium;
  text-align: start;
  box-sizing: border-box;
  z-index: 1;

  li {
    padding: $spacing-md $spacing-xl;
    list-style: none;
    user-select: none;
    cursor: pointer;
    background-color: none;
    transition: all 150ms;
    font-size: $text-inner-font-size;

    &:hover > span {
      color: $color-primary;
    }

    span {
      color: $color-black;
    }

    &.active {
      background-color: $color-primary;
      position: relative;
    }

    &.active > span {
      color: $color-white;
    }

    // &.active::before {
    //   content: '';
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   height: 100%;
    //   width: 4px;
    //   background-color: $color-primary-lighter;
    //   box-shadow: -5px 0px 36px 0px $color-primary;
    // }

    &.active::after {
      content: '';
      position: absolute;
      right: -4px;
      top: $spacing-lg;
      height: 8px;
      width: 8px;
      transform: rotate(45deg);
      background-color: $color-gray-lighter;
    }
  }

  // #system-status {
  //   padding: $spacing-md $spacing-md $spacing-md $spacing-xl;
  //   color: $color-black;
  //   font-size: 11px;
  //   position: absolute;
  //   bottom: 70px;
  //   user-select: none;

  //   p {
  //     margin-bottom: $spacing-xs;
  //   }

  //   i {
  //     padding-right: $spacing-xs;
  //     font-weight: bold;

  //     &.ok {
  //       color: $color-green;
  //     }

  //     &.warning {
  //       color: $color-orange;
  //     }

  //     &.error {
  //       color: $color-red;
  //     }
  //   }

  //   .bin-usage {
  //     margin-bottom: $spacing-lg;
  //   }
  // }
}