<div class="box-container">
  <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()" novalidate *ngIf="!isSuccess">
    <h2>Resetar senha</h2>
    <label for="password">Nova senha</label>
    <input type="password" autofocus id="password" name="password" formControlName="password" placeholder="" [class.is-warning]="f.password.dirty && f.password.errors?.minlength || f.password.dirty && f.password.errors?.pattern || f.password_r.dirty && f.password_r.errors?.required || formSubmitted && f.password.pristine">
    <p class="is-help is-warning" *ngIf="f.password.dirty && f.password.errors?.minlength || f.password.dirty && f.password.errors?.pattern">A senha precisa ter ao menos 8 caracteres e um número.</p>
    <p class="is-help is-warning" *ngIf="f.password.dirty && f.password.errors?.required || formSubmitted && f.password.pristine">Insira uma nova senha.</p>
    <label for="password_r">Repita a nova senha</label>
    <input type="password" id="password_r" name="password_r" formControlName="password_r" placeholder="" [class.is-warning]="f.password_r.dirty && f.password_r.errors?.required || f.password_r.dirty && f.password_r.errors?.mismatch || formSubmitted && f.password_r.pristine">
    <p class="is-help is-warning" *ngIf="f.password_r.dirty && f.password_r.errors?.required || formSubmitted && f.password_r.pristine">Repita a nova senha.</p>
    <p class="is-help is-warning" *ngIf="f.password_r.dirty && f.password_r.errors?.mismatch">As senhas não são iguais.</p>
    <button type="submit" class="is-info is-md" [class.is-loading]="isLoading">
      <span>Salvar nova senha</span>
      <span class="is-loading-text">Salvando...</span>
    </button>
  </form>
  <span class="is-success" *ngIf="isSuccess">
    <h2>Sucesso!</h2>
    <p>Agora, você já pode acessar o SolidBits usando a nova senha.</p>
    <button class="is-info is-md" routerLink="/login">Ir para login</button>
  </span>
</div>