@import "_variables";

:host {
  font-size: $text-inner-font-size;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.top-menu-container {
  background-color: $color-white;
  border-bottom: 1px solid $color-gray-medium;
  height: $top-menu-height;

  div, nav {
    height: inherit;
  }
}

.top-menu {
  display: flex;
  background: $color-white;
  box-sizing: border-box;

  .logo-container {
    display: flex;
    cursor: pointer;
    padding: $spacing-md;
    box-sizing: inherit;
    transition: all $animation-normal-speed;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    // border-bottom: 1px solid $color-primary;

    img {
      width: 120px;
    }

    &.add-side-borders {
      border-right: 1px solid $color-gray-medium;
      border-left: 1px solid $color-gray-medium;
    }
  }

  .content {
    display: flex;
    flex: 1;
    flex-direction: row;
    box-sizing: inherit;
    align-items: center;
  }

  i {
    font-size: $icon-font-default-size;
    border-radius: 50%;
    user-select: none;
    transition: all 150ms;
    color: $color-black;

    &.icon-magnifier {
      margin-right: $spacing-md;
    }
  }
}

#search {
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1rem;

  &::placeholder {
    font-size: $placeholder-font-size;
  }
}

.dropdown {
  position: absolute;
  top: calc(100% - 8px);
  right: 0;
  background: $color-white;
  width: calc(100% - 24px);
  border-radius: $border-radius-default;
  box-shadow: 0 1px 6px rgba(30, 30, 30, 0.1);
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transition: $animation-normal-speed ease;
  padding: $spacing-md;
  border: 1px solid $color-gray-medium;

  &.is-visible {
    transform: translate(0, 20px);
    opacity: 1;
    visibility: visible;
  }

  &::before {
    content: '';
    position: absolute;
    top: -7px;
    right: $spacing-md;
    width: 12px;
    height: 12px;
    transform: rotate(-45deg);   
    mix-blend-mode: multiple;
    background-color: $color-white;
    border-top: 1px solid $color-gray-medium;
    border-right: 1px solid $color-gray-medium;
  }

  ul {
    list-style-type: none;
    text-align: left;
    
    li {
      &:not(:first-child) {
        padding: $spacing-md 0 0;
      }
      &:hover {
        color: $color-primary;
      }
    }
  }
}

.notifications-container {
  border: 1px solid transparent;
  margin-right: calc(#{$spacing-xl} * 2);
  border-radius: 50%;
  // width: $spacing-xl;
  height: $spacing-xl;
  display: flex;
  align-items: center;
  cursor: pointer;
  
  i {
    padding: $spacing-xs;
    border: 1px solid transparent;
    transition: all $animation-normal-speed;
    
    &:hover {
      border: 1px solid $color-primary;
      color: $color-primary;
    }
  
    &.is-active {
      background: $color-primary;
      color: $color-white;
    }
  }

  > .dropdown {
    width: 250px;
    right: -3px;
    top: calc(100% - 5px);
    height: auto;
  }
}

#user-menu-container {
  display: flex;
  align-items: center;
  transition: all $animation-normal-speed;
  padding: $spacing-sm $spacing-md;
  border: 1px solid transparent;
  border-radius: $border-radius-default;
  transition: all $animation-normal-speed;
  cursor: pointer;
  height: unset;

  &:hover {
    border: 1px solid $color-primary;
    
    > span, i {
      color: $color-primary;
    }
  }

  &.is-active {
    background: $color-primary;
    
    > span, i {
      color: $color-white;
    }
  }
  
  * {
    user-select: none;
    font-size: $text-inner-font-size;
    cursor: pointer;
  }

  i {
    padding: 0;
    margin-right: 0;
  }

  span {
    margin: 0 $spacing-sm 2px 0;
    line-height: 1rem;
  }
}

@mixin elevation($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}