<div class="row middle-lg middle-lg between-lg">
  <div class="col-md-6">
    <h5 class="page-title start-lg">Configurações</h5>
  </div>
  <!-- <div class="col-lg-6">
    <div class="button-group-selector wrapper end-lg">
      <app-button-group-selector [type]="'volume'"></app-button-group-selector>
      <app-button-group-selector [type]="'time'"></app-button-group-selector>
    </div>
  </div> -->
</div>
<form class="row" action="">
  <div class="col-lg-6">
    <label for="nome">Nome da instituição</label>
    <input autofocus type="text" id="nome">
  </div>
  <div class="col-lg-2">
    <label for="abrev">Abreviação</label>
    <input autofocus type="text" id="abrev">
  </div>
  <div class="col-lg-4">
    <label for="local">Localização</label>
    <input autofocus type="text" id="local">
  </div>
</form>
<div class="row">
  <h6 class="col-lg-12">Arranjo físico</h6>
  <div class="row">
    <div class="col-lg-2">
      <span class="tt">BLOCO 1</span>
      <span class="mini">10 salas</span>
      <span class="mini">14 lixeiras</span>
    </div>
    <div class="col-lg-2">
      <span class="tt">BLOCO 2</span>
      <span class="mini">10 salas</span>
      <span class="mini">14 lixeiras</span>
    </div>
    <div class="col-lg-2">
      <span class="tt">BLOCO 3</span>
      <span class="mini">10 salas</span>
      <span class="mini">14 lixeiras</span>
    </div>
    <div class="col-lg-2">
      <span class="tt">BLOCO 4</span>
      <span class="mini">10 salas</span>
      <span class="mini">14 lixeiras</span>
    </div>
    <div class="col-lg-2">
      <span class="tt">BLOCO ADMINISTRATIVO</span>
      <span class="mini">10 salas</span>
      <span class="mini">14 lixeiras</span>
    </div>
    <div class="col-lg-2">
      <span class="tt">INTERBLOCOS</span>
      <span class="mini">10 salas</span>
      <span class="mini">14 lixeiras</span>
    </div>
  </div>
</div>