<div class="row middle-lg middle-lg between-lg">
  <div class="col-lg-6">
    <h5 class="page-title start-lg">Configurações</h5>
  </div>
</div>
<form [formGroup]="businessForm" class="row" action="">
  <div class="col-lg-6">
    <label for="name">Nome da instituição</label>
    <input type="text" id="name" name="name" formControlName="name" [class.is-warning]="f.name.dirty && f.name.invalid || formSubmitted && f.name.invalid">
    <p class="is-help is-warning" *ngIf="f.name.dirty && f.name.errors?.required || formSubmitted && f.name.errors?.required">Insira o nome da instituição.</p>
    <p class="is-help is-warning" *ngIf="f.name.dirty && f.name.errors?.minlength || formSubmitted && f.name.errors?.minlength">O nome precisa ter ao menos quatro caracteres.</p>
  </div>
  <div class="col-lg-2">
    <label for="abbrev">Abreviação</label>
    <input type="text" id="abbrev" name="abbrev" formControlName="abbrev" [class.is-warning]="f.abbrev.dirty && f.abbrev.invalid || formSubmitted && f.abbrev.invalid">
    <p class="is-help is-warning" *ngIf="f.abbrev.dirty && f.abbrev.errors?.required || formSubmitted && f.abbrev.errors?.required">Insira o nome da instituição.</p>
    <p class="is-help is-warning" *ngIf="f.abbrev.dirty && f.abbrev.errors?.minlength || formSubmitted && f.abbrev.errors?.minlength">A abreviação precisa ter ao menos dois caracteres.</p>
  </div>
  <div class="col-lg-4">
    <label for="location">Localização</label>
    <input type="text" id="location" name="location" formControlName="location" [class.is-warning]="f.location.dirty && f.location.invalid || formSubmitted && f.location.invalid">
    <p class="is-help is-warning" *ngIf="f.location.dirty && f.location.errors?.required || formSubmitted && f.location.errors?.required">Insira o nome da instituição.</p>
    <p class="is-help is-warning" *ngIf="f.location.dirty && f.location.errors?.minlength || formSubmitted && f.location.errors?.minlength">A localização precisa ter ao menos dois caracteres.</p>
  </div>
</form>
<div class="row">
  <span class="col-lg-12 label">Arranjo físico</span>
  <div class="col-lg-2" *ngFor="let node of lastValues.children">
    <app-node-card></app-node-card>
  </div>
  <div class="col-lg-2">
    <app-node-card [type]="'add-bin'" (click)="onNewNode()"></app-node-card>
  </div>
  <div class="col-lg-2">
    <app-node-card [type]="'add-space'"></app-node-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 end-lg btn-group">
    <button class="is-info is-md" [class.is-loading]="isLoading" (click)="onSave()">
      <span>Salvar</span>
      <span class="is-loading-text">Salvando...</span>
    </button>
  </div>
</div>