@import "_variables";

:host {
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 4em;
  margin: 0 0 4rem;
}

.error-description {

  text-align: left;

  > .error-code {
    color: $color-gray-darker;
  }
}