<div class="text-container">
  <h1>Gerenciar a coleta dos resíduos sólidos agora está mais fácil</h1>
  <span>
    SolidBits é uma proposta para o monitoramento da produção e gerenciamento da coleta de resíduos sólidos em ambientes internos através de sensores instalados em lixeiras, que recolhem dados sobre os resíduos nelas depositados e os enviam para a nuvem, onde são armazenados e processados de modo a tornarem-se informações úteis à gestão do serviço de coleta.
  </span>
  <button class="is-info is-lg" [routerLink]="['login']">Entrar</button>
</div>