@import "_variables";

:host {
  display: flex;
  flex: 1;
  padding: 0px $spacing-md;
  height: 100%;
}

.bg {
  background-size: 90%;
  background-repeat: no-repeat;
  background-image: url("./../../../../assets/landing.svg");
  background-position: 160% 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
}

.text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: initial;
  align-items: flex-start;
  margin-top: 3rem;

  h3 {
    margin-bottom: $spacing-xl;
  }

  span {
    margin-bottom: 3.5rem;
  }
}