<div class="text-container">
  <h3>Gerência da coleta de resíduos sólidos de um modo simples e eficiente</h3>
  <span>
    SolidBits realiza o monitoramento da produção e gerenciamento da coleta de resíduos sólidos em ambientes internos através de sensores instalados em lixeiras. Os dados recolhidos são enviados para a nuvem, onde são armazenados e processados de modo a tornarem-se informações úteis à gestão do serviço de coleta.
  </span>
  <button class="is-info is-lg" [routerLink]="['login']">Entrar</button>
</div>
<div class="bg"></div>