@import "_reset";
@import "_linearicons";
@import "_font-face";
@import "_variables";
@import "_helpers";
@import "c3js";

html {
  font-size: 16px;
}

body, input, input::placeholder, button {
  font-family: "Work Sans", sans-serif;
}

.wrap {
  max-width: 1200px;
}

button {
  border: none;
  border-radius: $border-radius-default;
  transition: all $animation-normal-speed;
  display: flex;
  align-content: center;
  justify-content: center;

  * {
    cursor: pointer;
  }

  > span {
    align-self: center;

    &.is-loading-text {
      display: none;
    }
  }

  &.is-sm {
    padding: 0 $spacing-sm;
    min-height: calc(#{$btn-lg-font-size} + (#{$spacing-sm} * 3));
    font-size: $btn-sm-font-size;
    line-height: $btn-sm-font-size;
  }

  &.is-md {
    padding: $spacing-sm $spacing-md;
    min-height: calc(#{$btn-md-font-size} + (#{$spacing-sm} * 3));
    font-size: $btn-md-font-size;
    line-height: $btn-md-font-size;
  }

  &.is-lg {
    padding: $spacing-md $spacing-xl;
    min-height: calc(#{$btn-lg-font-size} + (#{$spacing-md} * 2));
    font-size: $btn-lg-font-size;
    line-height: $btn-lg-font-size;
  }

  &.is-info {
    color: $color-white;
    background-color: $color-primary;
    box-shadow: 0px 2px 10px 0px rgba($color-primary, 0.3);

    &:hover {
      box-shadow: 0px 0px 10px 0px rgba($color-primary, 0.25);
    }
  }

  &.is-nav {
    padding: 0 $spacing-sm;
    height: unset;
    margin: $spacing-sm 0;
    line-height: unset;
  }

  &.is-loading {
    background-color: $color-primary-darker;
    box-shadow: 0px 2px 4px 0px rgba($color-primary, 0.3);

    &:after {
      animation: spinAround 500ms infinite linear;
      border: 2px solid $color-white;
      border-radius: 50%;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      display: block;
      height: $text-default-font-size;
      position: relative;
      width: $text-default-font-size;
    }

    > span:not(.is-loading-text) {
      display: none;
    }

    > span.is-loading-text {
      display: block;
      margin-right: $spacing-md;
      line-height: unset;
    }
  }

  &:not(.is-disabled):not(.is-loading):hover {
    background-color: $color-primary-lighter;
  }

  // takeaway to use different colors both on hover and active states
  &:active:not(.is-disabled):not(.is-loading):hover {
    background-color: $color-primary-darker;
  }

  &.disabled {
    opacity: 0.5;
  }
}

label {
  margin-bottom: $spacing-xs;
}

input {
  padding: $spacing-xs;
  border: 1px solid $color-gray-medium;
  border-radius: $border-radius-default;
  margin-bottom: $spacing-sm;
  animation: border $animation-normal-speed;

  &:focus {
    border-color: $color-primary;
  }
}

a {
  &:hover:not(.is-danger) {
    color: $color-primary !important;
  }
}

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-bottom: $spacing-sm;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1rem;
}

.wrapper {
  position: relative;
}
