<div class="box-container">
  <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()" novalidate>
    <h2>Recuperar senha</h2>
    <label for="password">Nova senha</label>
    <input type="password" id="password" name="password" formControlName="password" placeholder="" required>
    <label for="password_r">Repita a nova senha</label>
    <input type="password_r" id="password_r" name="password_r" formControlName="password_r" placeholder="" required>
    <button class="is-info is-med">Salvar nova senha</button>
  </form>
</div>